@import '/static/font/iconfont.css';
.container {
	margin: 0 30rpx;
}

image {
	height: 100%;
	width: 100%;
	display: block;
}

/* start--Retina 屏幕下的 1px 边框--start */
.hairline-border,
.hairline-border-bottom,
.hairline-border-left,
.hairline-border-right,
.hairline-border-top,
.hairline-border-top-bottom {
	position: relative;
}

.hairline-border-bottom:after,
.hairline-border-left:after,
.hairline-border-right:after,
.hairline-border-top-bottom:after,
.hairline-border-top:after,
.hairline-border:after {
	/* #ifndef APP-NVUE */
	content: ' ';
	/* #endif */
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	box-sizing: border-box;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	// 多加0.1%，能解决有时候边框缺失的问题
	width: 199.8%;
	height: 199.7%;
	transform: scale(0.5, 0.5);
	// border: 0 solid $u-border-color;
	z-index: 2;
}

.hairline-border-top:after {
	border-top-width: 1px;
}

.hairline-border-left:after {
	border-left-width: 1px;
}

.hairline-border-right:after {
	border-right-width: 1px;
}

.hairline-border-bottom:after {
	border-bottom-width: 1px;
}

.hairline-border-top-bottom:after {
	border-width: 1px 0;
}

.hairline-border:after {
	border-width: 1px;
}
/* end--Retina 屏幕下的 1px 边框--end */
// text
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}

// 文字显示一行
.text-over-one {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//  文字 三行
.text-over-three {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

// font
.font-30 {
	font-size: 30rpx;
}

.text-bold {
	font-weight: bold;
}

.text-white {
	color: #ffffff !important;
}

.border-radio-round {
	border-radius: 50%;
}
.border-radio-10 {
	border-radius: 10rpx;
}

// flex
.flex {
	display: flex;
	align-items: center;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-1 {
	flex: 1;
}

.flex-col {
	display: flex;
	flex-direction: column;
}
